{
  "extension": [
    ".ts"
  ],
  "include": [
    "src/utils"
  ],
  "reporter": [
    "text",
    "text-summary"
  ],
  "all": true,
  "checkCoverage": true,
  "lines": 95,
  "branches": 84,
  "statements": 95,
  "functions": 98
}
